<footer class="footer mt-auto py-1">
  <div class="container">
    <h4 class="pl-3">
      <a class="nav-item white-link" href="https://www.facebook.com/presleypub/" target="_blank">Facebook</a>
      <span class="white-link"> &nbsp; | &nbsp;</span>
      <a class="nav-item white-link" href="https://www.instagram.com/presleypub/" target="_blank">Instagram</a>
    </h4>
  </div>
</footer>
