<footer class="footer mt-auto py-1">
  <div class="row"></div>
    <div class="container">
      <h4 class="pl-3 col-xs-12 col-sm-6">
        <!-- <a class="nav-item white-link" href="https://www.facebook.com/presleypub/" target="_blank">Facebook</a> -->
        <a href="#"><i class="fab fa-facebook"></i></a>
        <!-- <span class="icon"><i src=" /></span> -->
        <span class="white-link"> &nbsp; | &nbsp;</span>
        <!-- <a class="nav-item white-link" href="https://www.instagram.com/presleypub/" target="_blank">Instagram</a> -->
        <span class="glyphicon glyphicon-search" aria-hidden="false"></span>

        <a href="#"><i class="fab fa-instagram"></i></a>
        <!-- <span class="fab fa-instagram"><i src="" /></span> -->
      </h4>
      <!-- <h4 class="pl-3 col-6">
        <span class="white-link"> Phone: (11) 3333-0045 &nbsp; | &nbsp;</span>
      </h4> -->
    </div>
  </div>
</footer>
